{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inventario WEB</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
    <!-- bootstrap theme -->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-theme.css' %}">
    <!-- font icon -->
    <link rel="stylesheet" href="{% static 'dashboard/css/elegant-icons-style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="{% static 'dashboard/css/jquery-ui-1.10.4.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/widgets.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/xcharts.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/jquery-jvectormap-1.2.2.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/fullcalendar.css' %}">

    <!-- Javascripts -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery.nicescroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery-ui-1.10.4.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/js/jquery.sparkline.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/calendar-custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery.rateit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery.customSelect.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/js/sparkline-chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/easy-pie-chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/xcharts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery.autosize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery.placeholder.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/gdp-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/morris.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/sparklines.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/charts.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jquery.slimscroll.min.js' %}"></script>
    <!-- Assets -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/bootstrap-fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/jquery.easy-pie-chart.css' %}">

    <script type="text/javascript" src="{% static 'dashboard/assets/js/Chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/assets/js/fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/assets/js/jquery.easy-pie-chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/assets/js/jquery.knob.js' %}"></script>





</head>
<body>
{% block content%}

{% endblock content%}
</body>
</html>