{% extends 'base.html'%}
{% load static%}


{% block content%}
<section class="content">
    <section class="panel">
        <header class="panel-heading">Vender</header>
        <div class="panel-body">
            <label class="col-sm-2 control-label col-lg-2">Buscar Producto.</label>
            <form id ="search_product" method="POST" action="{% url 'search_products' %}">
            <div class="input-group m-b-10">
                    {% csrf_token %}
                    <input name ="product_name"  type="text" class="form-control" >
                    <span class="input-group-btn">
                    <button id = "search_btn" class="btn btn-white" type="submit">Buscar</button>
            </div>
            </form>
            <div id="loading_search_product" class="col-md-12" style="display:none">
                <div class="stat">
                    <div class="stat-icon" style="color:#fa8564">
                        <i class="fa fa-refresh fa-spin fa-3x stat-elem"></i>
                    </div>
                    <h5 class="stat-info">Buscando....</h5>
                </div>
            </div>
            <!-- datos devueltos del servidor -->
            <div class="col-md-12">
                <div class="panel">
                    <header class="panel-heading">Productos</header>
                    <div class="panel-body">
                        <table class="table table-bordered">
                          <tr><th>Nombre de Producto.</th>
                              <th>categoria.</th>
                              <th>Unidades Disponibles.</th>
                          </tr>
                            <tbody id="result">
                            </tbody>
                        </table>
                    </div><!-- /.panel-body -->
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock content%}
{% block scripts%}
<script>
  $(document).ready(function(){
    $("#search_product").submit(function(e){
    e.preventDefault();
        var postData = $(this).serializeArray();
        var FormUrl =  $(this).attr("action");
        $.ajax({
        url: FormUrl,
        type:'POST',
        data: postData,
        beforeSend : function(){
          $('#loading_search_product').show();
          $('#search_btn').addClass("disabled");
        }
      }).done(function(response){
        setTimeout(function(){
        var html = ""
        for (var i = 0; i < response.length; i++) {
        html += '<tr><td>'+response[i].fields.name +'</td>'+
                '<td>'+response[i].fields.category+'</td>'+
                '<td>'+response[i].fields.unit+'</td></tr>'
      }
      $('#result').html(html);
      },1000);
      }).always(function(){
        setTimeout(function(){
          $('#loading_search_product').hide();
          $('#search_btn').removeClass("disabled");
        },1000);
        });

      });
    });
</script>
{% endblock scripts%}
